/* GLOBAL */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* HEADER */
.header {
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 243.05px;
}
.personal-ul {
  display: flex;
  flex-direction: row;
}
.personal-svg {
  width: 23.15px;
  height: 34.73px;
  top: 2.64px;
  left: 8.38px;
  gap: 0px;
  opacity: 0px;
  color: #000000;
}
.navigator-ul {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.resume-svg {
  width: 153px;
  height: 56px;
  /* padding: 16px 20px 16px 20px; */
  gap: 8px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  color: #000000;
}
/* FİRST-SECTİON */
.fisrt-section-div {
  display: flex;
  flex-direction: row;
}
.frstsctn-frst-div {
  display: flex;
  flex-direction: column;
  margin: 127px 0px 127px 32px;
  gap: 32px;
}
.frstsctn-h {
  font-family: "Sora", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.02em;
  text-align: left;
  text-decoration-skip-ink: none;
}
.frstsctn-p {
  font-family: Sora;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
/* SECOND-SECTİON */
.experience-div {
  display: flex;
  flex-direction: row;
}

/* FOURTH-SECTİON */
